fastapi
numpy==1.26.4
tensorflow==2.15.0
pandas==1.5.3
scikit-learn==1.4.1.post1
sympy==1.12
pytest==8.1.1
matplotlib==3.8.3
seaborn
graphviz==0.20.3
dill==0.3.8
dexire@git+https://github.com/aislab-hevs/DEXiRE.git@0.0.1
yellowbrick
d3blocks == 1.4.9
bnlearn == 0.8.7
umap-learn
pathlib